<ul>
	<% @projects.each do |project| %>
			<li>
				<%= project.name %> 
				<% if project.description.present? %>
					- <%= project.description %>
					- <%= project.created_at %>
				<% end %>
			</li>
	<% end %>	
</ul>