<!DOCTYPE html>
<html>
  <head>
    <title>:: MOVIE FORUM ::</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<div id="main-container" class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-10 col-md-offset-1">
          <%= yield %>
        </div>          
      </div>
    </div> 
  </body>
</html>
