<div id="container" class="container-fluid">
  <div class="row align-items-center justify-content-center">
      <div class="col-md-8">
        <div class="text-center align-middle">
          <h1>Discussion about:</h1>
          <br>
        </div>
        <div class="film">
          <div class="title">
            <h2><%=@movie.title%> (<%=@movie.year%>)</h2> 
          </div>
          <div class="lead">
            <p><%=@movie.plot%></p>
          </div>
        </div> 
        <div class="comments">
          <h3 class="heading">Comments and Responses</h3>
            <form action="" method="POST" id="commentform">
              <div id="comment-name" class="form-row">
                <input type = "text" placeholder = "Name (required)" name = "dname"  id = "name" >
              </div>
              <div id="comment-message" class="form-row">
                <textarea name = "comment" placeholder = "Message" id = "comment" ></textarea>
              </div>
              <a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment"></a>
            </form>
        </div>
      </div>
      <div class="col-md-4" style="background-color: grey">

        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <a href="#"><b>Ryan Haywood</b></a>
                                    made a comment.
                                </div>
                                <h6 class="text-muted time">1 minute ago</h6>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                            <div class="stats">
                                <a href="#" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>2
                                </a>
                                <a href="#" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-down icon"></i>12
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <a href="#"><b>Ryan Haywood</b></a>
                                    made a comment.
                                </div>
                                <h6 class="text-muted time">1 minute ago</h6>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                            <div class="stats">
                                <a href="#" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>2
                                </a>
                                <a href="#" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-down icon"></i>12
                                </a>
                            </div>
                        </div>
                    </div>







      </div>
    </div>
</div>      